---
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import SocialList from "@/components/SocialList";
import { getAllPosts, sortMDByDate } from "@/utils";
import { Image } from "astro:assets";
import Technology from  '@/assets/technology.svg';

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">Hello👋 I'm Magren🦊</h1>
		<article class="prose dark:prose-invert max-w-full">
      <p class='mt-1'>I&apos;m a Software Development Engineer(Mainly in the front end direction). & Open Source enthusiast and I currently work
      at <a class="font-bold underline" target='_blank' href="https://github.com/XiaoMi">XiaoMi</a>. My personal projects and learning materials are all on
      my <a class="font-bold underline" target='_blank' href="https://github.com/Magren0321">Github</a> or
      my <a class="font-bold underline" target='_blank' href="https://magren.cc/">blog</a>.</p>
      <p class='mt-2'>I was born in the millennium, and I enjoy making useless and uninteresting toys using code.
      In my spare time, besides coding, I also enjoy playing games, and I&apos;m a fan of Nintendo.
      I like the Zelda, Mario, and Pokemon series.</p>
      <i class='mt-2 font-bold flex'>Love coding, love my girlfriend and my cat.</i>
    </article>
		<SocialList />
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
	<section class="mt-16">
		<h2 class="title mb-4 text-xl">Technologies</h2>
    <Image class='w-full' src={Technology} alt='Technology' />
	</section>
</PageLayout>
